.contact{
    background-color: #2879fe;
    color: white;
    padding: 15px;
    display: flex;
    justify-content: center;

    .wrapper{
        width: 50%;
        display: flex;
        align-items: center;
        justify-content: space-between;
        @media only screen and (max-width:415px) {
            width: 100%;
        }

        span{
            font-size: 17px;
            @media only screen and (max-width:415px) {
                font-size: 7px;
            }
        }

        input{
            padding: 10px;
            border: none;
            border-radius: 5px 0px 0px 5px;
            @media only screen and (max-width:415px) {
                width: 66px;
                font-size: 7px;
                padding: 6px;
            }
        }
        button{
            padding: 10px;
            color: white;
            cursor: pointer;
            background-color: black;
            border-radius: 0 5px 5px 0;
            border: none;
            @media only screen and (max-width:415px) {
                height: 22px;
                font-size: 7px;
                width: 49px;
                padding: 6px;
            }
        }
        .icons{
            display: flex;
            gap: 10px;
            @media only screen and (max-width:415px) {
                gap: 5px;
            }
        }
    }
}