.navbar{
    height: 80px;
    box-shadow: 0px 0px 10px -3px black;
    margin-bottom: 10px;
    .wrapper{
        padding: 20px 10px 20px 10px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        .item1{
            display: flex;
            align-items: center;
            font-size: 18px;
            @media only screen and (max-width:415px){
                display: none;
            }
        }
        .item{
            display: flex;
            align-items: center;
            font-size: 18px;
        }
        .cat{
            cursor: pointer;
        }
        .left{
            display: flex;
            align-items: center;
            gap: 25px;
            margin-left: 20px;
            margin-right: 50px;
            @media only screen and (max-width:415px){
                margin-right: 5px;
                margin-left: 10px;
            }
        }
        .centre{
            font-size: 30px;
            letter-spacing: 2px;
            @media only screen and (max-width:415px){
                margin-right:10px;
            }
        }
        .right{
            display: flex;
            align-items: center;
            margin-right: 10px;
            gap: 25px;
            .item{
                @media only screen and (max-width:415px){
                    display: none;
                }
            }
            .icons{
                display: flex;
                gap: 15px;
                cursor: pointer;
                .ic{
                    @media only screen and (max-width:415px){
                        display: none;
                    }
                }
            }
            .carticon{
                position: relative;
                span{
                    font-size: 12px;
                    width: 20px;
                    height: 20px;
                    border-radius: 50%;
                    background-color: #2879fe;
                    color: white;
                    position: absolute;
                    right: -10px;
                    top: -10px;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                }
            }
        }

    }

}
@media only screen and (max-width:415px){
    .item1{
        display: inline;
    }
}